mixin link(href, name)
  a(href=href class="link-btn")&attributes(attributes)= name
      if block
          block

mixin icon(icon, name)
  svg(class= icon): use(xlink:href="assets/img/sprite.svg#" + name)

mixin pet-item(src, name, className)
  div(class= `${className}__item`)
    div(class= `${className}__img-wrp`)
      img(class= `${className}__img` src= src, alt="homeless animal")
    div(class= `${className}__content`)
      p(class= `${className}__name`)= name
      +link("#", "Learn more")(class=`${className}__link`)

mixin help-item(icon, name)
  .help__item
    +icon("help__icon", icon)
    p.help__txt= name

