mixin link(href, name)
  a(href=href class="link-btn")&attributes(attributes)= name
    if block
      block

mixin btn(name)
  button(class="btn")&attributes(attributes)= name
    if block
      block

mixin icon(icon, name)
  svg(class= icon): use(xlink:href="assets/img/sprite.svg#" + name)

mixin modal
  .modal-bg
    .modal
      p.modal__title
      p.modal__txt
      button.modal__close: +icon("modal__icon", "close-button")

mixin pet-item(src, name, className, txt, modif)
  div(class= `${className}__item`)
    div(class= `${className}__img-wrp`)
      img(class= `${className}__img ${modif}` src= src, alt="homeless animal")
    div(class= `${className}__content`)
      p(class= `${className}__name`)= name
      p(class= `${className}__txt`)= txt
      +btn("Learn more")(class=`${className}__link` data-modal-btn)

mixin help-item(icon, name)
  .help__item
    +icon("help__icon", icon)
    p.help__txt= name

